.banner { 
    background-color: rgb(0, 17, 255);
    background-image: linear-gradient(to right, rgb(1, 16, 153) , rgb(133, 134, 190));
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
}
.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    margin: 1em 0;
}