@import url("./estilo/header.css");
@import url("./estilo/banner.css");

:root{
    --plano-de-fundo: #ffffff;
    --cor-cabecalho:#ffffff;
    --titulo-cabecalho: #eb9b00;
    --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%)
}

body{
    background-color: var(--planno-de-fundo);
}
